body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0F1216;
    margin: 0;
    /*padding: 20px;*/
    color: #E5E7EB;
}

.quiz-selection-container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.quiz-question-container {
    /*padding: 30px;*/
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    margin: 0 auto 40px;
    max-width: 520px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #151A21;
    /*border-radius: 20px;*/
    /*border: 2px solid #26303D;*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question {
    margin: 25px auto;

}

.question-text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.question-image-container {
    margin-bottom: 20px;
    text-align: center;
}

.question-image {
    max-width: 100%;

    max-height: 400px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid #ddd;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1B212A;
    border-radius: 15px;
    border: 2px solid #26303D;
    width: 80%;
    margin: 5px auto;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.25s;
}

.option:hover {
    border-color: #646cff;
}

.option.selected {
    border-color: rgba(63, 251, 0, 0.7);
}

.option.correct {
    border-color: #28a745;
}

.option.incorrect {
    border-color: #dc3545;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.next-button {
    /*width: 60%;*/
    text-align: center;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*button:hover:not(:disabled) {*/
/*    background-color: #2980b9;*/
/*}*/

/*button:disabled {*/
/*    background-color: #bdc3c7;*/
/*    cursor: not-allowed;*/
/*}*/

/*#next-btn.answer-mode {*/
/*    background-color: #28a745;*/
/*}*/

.progress-bar {
    height: 14px;
    background: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #4caf50, #81c784);
    border-radius: 8px;
    transition: width 0.6s ease-in-out;
}

.results-container {
    /*background-color: white;*/
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    margin: 40px auto;
    max-width: 900px;
    background: #1B212A;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #26303D;
}

.results-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.results-summary {
    background-color: #f1f8f5;
    padding: 18px;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

.answers-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.answer-item {
    /*background-color: #f9f9f9;*/
    /*border-left: 6px solid #ccc;*/
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/*.answer-item.correct {*/
/*    border-left-color: #28a745;*/
/*    background-color: rgba(153, 218, 195, 0.4);*/
/*}*/

/*.answer-item.incorrect {*/
/*    border-left-color: #dc3545;*/
/*    background-color: rgba(228, 86, 103, 0.69);*/
/*}*/

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.status-badge {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
}

.status-badge.correct {
    background-color: #28a745;
    color: white;
}

.status-badge.incorrect {
    background-color: #dc3545;
    color: white;
}

.answer-comparison {
    font-size: 15px;
    margin-top: 10px;
}

.correct-answer {
    color: #28a745;
    font-weight: bold;
}

.user-answer {
    color: #c0392b;
}

.restart-button, .back-button {
    margin-top: 30px;
    display: block;
    width: 90%;
    padding: 14px;
    font-size: 18px;
    text-align: center;
    background-color: #3498db;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}


.completed-message{
    text-align: center;
}

.restart-button:hover {
    background-color: #2980b9;
}

.login {

}
@media (max-width: 680px) {
    .quiz-container, .results-container {
        padding: 20px;
    }

    .question-image {
        max-height: 250px;
    }

    .option {
        font-size: 15px;
    }
}
